**/*.rs.bk
Cargo.lock
tags
*.log
*.tar.xz
*.tar.gz
*.zip
*.json
*.obj
*.exe
*.swp
*.so
*.dll
*.lib
*.exp
*.whl
*.pyc
/target
/tests/artifacts/*
!/tests/artifacts/.empty
oppai/oppai
oppai/oppai_old
oppai/test/test_suite
oppai/test/oppai_test
oppai/swig/**/*.c
oppai/swig/*/*.i
oppai/swig/python/oppai.egg-info
oppai/swig/python/build
oppai/swig/python/oppai.py
oppai/maps